@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/inconsolata-v20-latin-regular.woff2') format('woff2'),
       url('fonts/inconsolata-v20-latin-regular.woff') format('woff');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('fonts/inconsolata-v20-latin-700.woff2') format('woff2'),
       url('fonts/inconsolata-v20-latin-700.woff') format('woff');
}