body, table
{
    font-size: 14pt; font-family: Inconsolata, monospace;
    background-color: #FFFFFF;
    color: #000000;
    border-collapse: collapse;
    overflow-y: scroll;
}
pre
{
    font-family: Inconsolata, monospace;
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    font-size: 14pt;
    margin: 0;
    unicode-bidi: bidi-override;
}
small
{
    font-size: 10pt;
}
a
{
    color: #202020;
    text-decoration: none;
    border-bottom: 1px dotted #BABECA;
}
a:hover
{
    border-bottom: 1px solid #202020;
}
hr
{
    margin: 1em 0 1em 0;
    height: 1px;
    border: 0;
    background-color: #BABECA;
}
span
{
    color: #BABECA;
}